.codeSnippet {
  text-align: start;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  width: 670px;
  max-width: 95vw;
  background-color: #282c34;
  overflow-x: auto;
  font-size: 1rem;
}

.spacerTop {
  margin-top: 16px;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.imageInput {
  width: 100%;
  height: 100px;
  border: 1px dashed grey;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  margin-bottom: 16px;
  cursor: pointer;
}

.imagePreview {
  max-height: 250px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 16px;
}
